{% extends 'base.html' %}
{% block title %}Login{% endblock %}  <!--- Set the title for the login page -->

{% block content %}

<form id="login-form" method="post"> <!--- No action needed if posting to the same URL -->
    {% csrf_token %}
    <input type="email" id="login-email" placeholder="Email" required>
    <span id="email-error"></span><br>
    <input type="password" id="login-password" placeholder="Password" required>
    <span id="password-error"></span><br>
    <button type="submit">Login</button> <!--- Submit button for the form -->
</form>
<script src="{% static 'js/signin.js' %}" type="module"></script> <!--- Load your signin JavaScript -->
{% endblock content %}