
<!DOCTYPE html>
<html>
<head>
    <base href="/">  </head>
    <title>Signup</title>
    {% load static %} <!-- Include Firebase SDK and your initialization script -->
    <script src="{% static 'js/firebase-app.js' %}"></script> <script src="{% static 'js/firebase-auth.js' %}"></script>
    <script src="{% static 'js/firebase-init.js' %}"></script> 
<body>
<form id="register-form">
    <input type="email" id="register-email" placeholder="Email" required> <span id="email-error"></span><br>
    <input type="password" id="register-password" placeholder="Password" required> <span id="password-error"></span><br>
    <button type="submit">Signup</button>
</form>

<script src="{% static 'js/register.js' %}"></script>

</body>
</html>