{% extends 'base.html' %}
{% block title %}Signup{% endblock %}
{% block content %}  <!--- Everything should be within this block -->
    <form id="register-form" method="post">
        {% csrf_token %}
        <input type="email" id="register-email" placeholder="Email" required> <span id="email-error"></span><br>
        <input type="password" id="register-password" placeholder="Password" required> <span id="password-error"></span><br>
        <button type="submit">Signup</button>  <!---  -->
    </form>

    <script src="{% static 'js/register.js' %}" type="module"></script>
{% endblock %}