# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Venv
.venv/

# Dependencies
.tox/
.nox/
.hypothesis/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.firebase/  # Firebase local cache
node_modules/
bower_components/
.npm/
.eslintcache/
!staticfiles/admin # Keep this line


# Build/packaging
build/
dist/
*.egg-info/
*.egg

# Django
*.log
db.sqlite3
local_settings.py # Or secrets.py
.env


# Documentation
docs/_build/

# IDE/Editor Files
.idea/
.vscode/ # If you use VS Code

# Other
instance/
.webassets-cache
.scrapy
.spyderproject
.spyproject
.ropeproject
/site
cython_debug/
.pypirc
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
.node_repl_history
*.tgz
.yarn-integrity
.dataconnect


# Firebase Service Account Key – EXTREMELY IMPORTANT
lottery-159de-firebase-adminsdk-y7ch8-8f429acc76.json  # Specific file
# or

# OS-specific files
.DS_Store # MacOS
Thumbs.db # Windows